body {
  font-family: sans-serif;
  background-color: #fffaf0;
  height: screen;
  width: 100%;
  padding: 1rem;
}
/* container style */
.container {
  overflow: scroll;
  height: screen;
  width: 90%;
}
/* heading style */
.heading {
  color: orange;
}
/* list style */
ul .list {
  padding: 1rem;
  background-color:white;
  list-style-type: none;
  list-style: none;
}
/* list items style */
.list-items {
  gap: 3rem;
  margin-top: 1rem;
  padding: 0.4rem;
  border: 0.3px solid gray;
  border-radius: 5px;
}
/* anchor tag style*/
a {
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
/* button style */
.btn-btn {
  display: flex;
  width: 10rem;
  /* background-color: rgb(250, 166, 87); */
  background-color: rgb(241, 123, 12);
  padding: 0.9rem;
  font-size:1rem;
  font-weight:bold;
  border: none;
  border-radius:5px;
  color:white;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
/* button hover */
.btn-btn:hover{
 background-color: rgb(250, 166, 87);

}
